.JSAnimation {
	width: 125px;
	height: 125px;
	position: flex;

	transform-origin: center;
	transform: translate(100%, 100%);
}
.js-animation-title {
	font-size: 4em;
	display: flex;
	text-align: center;
	margin: auto;
}
.js-animation-line {
	font-size: 4em;
	margin-top: -80px;
	overflow: hidden;
	display: flex;
	font-weight: 600;
	width: 0px;
}
.js-animation-instruction {
	width: 100px;
}

.move-line {
	animation-name: js-line;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.default-position {
	animation-name: js-default-position;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes js-line {
	0% {
		width: 0px;
	}
	100% {
		width: 60px;
	}
}

@keyframes js-default-position {
	0% {
	}
	100% {
		transform: rotate(0deg) translate(100%, 100%);
	}
}
