.background-svg {
	position: absolute;
	z-index: -100;
	overflow: hidden;
	left: 0;
	top: 0;
}
.background-svg-mobile {
	position: absolute;
	z-index: -100;
	overflow: hidden;
	left: 0;
	top: 0;
	visibility: hidden;
}

@media only screen and (max-width: 479px) {
	.background-svg {
		visibility: hidden;
	}
	.background-svg-mobile {
		visibility: visible;
	}
}
