#css {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_15);
}
#js {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_13);
}
#web-gl {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_19);
}
#flash {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_14);
}
#canvas {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_17);
}
#background {
	fill: linear-gradient(#000000 24.37%, #000033 64.37%, #282828 90.12%);
}
#lottie {
	fill: url(#Unbenannter_Verlauf_2);
}
#video {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_18);
}
#svg {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_16);
}
#gif {
	fill-rule: evenodd;
	fill: url(#Unbenannter_Verlauf_12);
}

#start {
	fill: #fff;
	stroke: white;
}
ellipse.time-line-line {
	fill: none;
	stroke: #fff;
	stroke-miterlimit: 3.1317977905273438;
	stroke-width: 1.9943877177920715px;
}

#number {
	fill: black;
}

.time-line-line {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}
.background {
	position: flex;
}

#tooltip {
	position: absolute;
	background: violet;
	border: solid black 1px;
	border-radius: 15%;
	padding: 5px;
	z-index: 100;
}
