.background-svg {
	position: absolute;
	z-index: -100;
	overflow: hidden;
	left: 0;
	top: 0;
}
.background-svg-mobile {
	position: absolute;
	z-index: -100;
	overflow: hidden;
	left: 0;
	top: 0;
	visibility: hidden;
}
