@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

.box {
	width: 300px;
	height: auto;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	background-color: black;
	overflow: hidden;
	margin-top: 50px;
}
.box-title {
	text-transform: uppercase;
	font-size: larger;
}

.box-red {
	border-color: red;
}
.box-red .box-title {
	color: red;
}

.box-blue {
	border-color: blue;
}
.box-blue .box-title {
	color: blue;
}

.box-cyan {
	border-color: cyan;
}
.box-cyan .box-title {
	color: cyan;
}

.box-yellow {
	border-color: yellow;
}
.box-yellow .box-title {
	color: yellow;
}

.box-orange {
	border-color: orange;
}
.box-orange .box-title {
	color: orange;
}

.box-turquoise {
	border-color: turquoise;
}
.box-turquoise .box-title {
	color: turquoise;
}

.box-purple {
	border-color: purple;
}
.box-purple .box-title {
	color: purple;
}

.box-lime {
	border-color: lime;
}
.box-lime .box-title {
	color: lime;
}

.box-navy {
	border-color: navy;
}
.box-navy .box-title {
	color: navy;
}

.box-grey {
	border-color: grey;
}
.box-grey .box-title {
	color: grey;
}

.box-title {
	font-family: Arvo;
}

.box-table,
.box-content {
	font-family: Ubuntu Mono;
}
.box-category {
	margin-right: 30px;
	display: inline-block;
}

.animation-box {
	height: 300px;
	width: 300px;
	overflow: hidden;
}

/* GIF */
.box-blue.animation-box {
	margin-top: 10vw;
}

.text-box:nth-child(1) .box-blue {
	margin-top: -10vw;
}

/* CSS */
.box-yellow.animation-box {
	margin-top: -40vw;
}

.text-box:nth-child(1) .box-yellow {
	margin-top: -10vw;
}

/* JavaScript */
.box-red.animation-box {
	margin-top: -20vw;
}

.text-box:nth-child(1) .box-red {
	margin-top: -30vw;
}

/* Flash */
.box-cyan.animation-box {
	margin-top: -30vw;
}

.text-box:nth-child(1) .box-cyan {
	margin-top: -15vw;
}

/* SVG */
.box-lime.animation-box {
	margin-top: -40vw;
}

.text-box:nth-child(1) .box-lime {
	margin-top: -15vw;
}

/* Canvas */
.text-box:nth-child(1) .box-purple {
	margin-top: -25vw;
}

.box-purple.animation-box {
	margin-top: -35vw;
}

/* Video */

.box-orange.animation-box {
	margin-top: -20vw;
}

.text-box:nth-child(1) .box-orange {
	margin-top: -25vw;
}

/* WebGL */
.text-box:nth-child(1) .box-navy {
	margin-top: -15vw;
}

.box-navy.animation-box {
	margin-top: -15vw;
}

/* Lottie */

.box-turquoise.animation-box {
	margin-top: -15vw;
}

.text-box:nth-child(1) .box-turquoise {
	margin-top: -20vw;
}
