@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

.box {
	width: 300px;
	height: auto;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	background-color: black;
	overflow: hidden;
	margin-top: 50px;
}
.box-title {
	text-transform: uppercase;
	font-size: larger;
	font-family: Arvo;
}

.box-table,
.box-simpleTextContent {
	font-family: Ubuntu Mono;
}
.box-category {
	margin-right: 30px;
	display: inline-block;
}

.animation-box {
	height: 300px;
	overflow: hidden;
}

/* just colors */
.box-red {
	border-color: red;
}
.box-red .box-title {
	color: red;
}

.box-blue {
	border-color: blue;
}
.box-blue .box-title {
	color: blue;
}

.box-cyan {
	border-color: cyan;
}
.box-cyan .box-title {
	color: cyan;
}

.box-yellow {
	border-color: yellow;
}
.box-yellow .box-title {
	color: yellow;
}

.box-orange {
	border-color: orange;
}
.box-orange .box-title {
	color: orange;
}

.box-turquoise {
	border-color: turquoise;
}
.box-turquoise .box-title {
	color: turquoise;
}

.box-purple {
	border-color: purple;
}
.box-purple .box-title {
	color: purple;
}

.box-lime {
	border-color: lime;
}
.box-lime .box-title {
	color: lime;
}

.box-navy {
	border-color: navy;
}
.box-navy .box-title {
	color: navy;
}

.box-grey {
	border-color: grey;
}
.box-grey .box-title {
	color: grey;
}
