@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

div {
	align-content: center;
	font-family: 'Nunito', Arial, Roboto;
	margin-bottom: 50px;
}

.title {
	margin-top: 50px;
	font-family: Nunito;
	text-align: center;
	text-transform: uppercase;
}

.title-small {
	font-size: 1em;
}

.title-big {
	font-size: 1.7em;
}

.intro {
	width: 300px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
}

.logo {
	width: 200px;
	height: 200px;
	border-style: solid;
	margin: auto;
}
