/* .text-box {
	width: 1300px;
	height: 290px;
	display: block;
	margin: auto;
}
 */
.left,
.right {
	width: 30vw;
	min-width: 300px;
	height: auto;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	background-color: black;
}
/* 
.left {
	float: left;
}

.right {
	float: right;
}
 */
.title {
	text-transform: uppercase;
	font-size: larger;
}

.red {
	border-color: red;
}
.red .title {
	color: red;
}

.blue {
	border-color: blue;
}
.blue .title {
	color: blue;
}

.cyan {
	border-color: cyan;
}
.cyan .title {
	color: cyan;
}

.yellow {
	border-color: yellow;
}
.yellow .title {
	color: yellow;
}
