.background {
	margin: auto;
	margin-top: 0;
}
.time-line-text {
	padding-top: 800px;
	margin-left: 30px;
	max-width: 30%;
}

.time-line-left-column {
	float: left;
	margin-left: 18%;
}

.time-line-right-column {
	float: right;
	margin-right: 18%;
}



/* Responsive */


/* Tablet */

@media only screen and (max-width: 1024px) {
	.time-line-left-column {
		margin-left: 5%;
	}
	.time-line-right-column {
		margin-right: 5%;
	}



/* Phone */

@media only screen and (max-width: 768px) {
	.time-line-left-column {
		margin-left: 0%;
	}
	.time-line-right-column {
		margin-right: 0%;
	}
}

	
