.background {
	margin: auto;
	margin-top: 0;
}
.time-line-text {
	padding-top: 800px;
	margin-left: 30px;
	max-width: 30%;
}

.time-line-left-column {
	float: left;
}

.time-line-right-column {
	float: right;
}
